
@mixin text-setting($family: 'Georgia', $weight: 400, $font-size: 16px, $line: 110%, $spacing: 0.06em) {
    font-family: $family;
    font-style: normal;
    font-weight: $weight;
    font-size: $font-size;
    line-height: $line;
    
    letter-spacing: $spacing;
}

@mixin flex-center () {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin close-icon($width, $height) {
    background: black;
    position: absolute;
    width: $width;
    height: $height;
    transition: 0.2s cubic-bezier(0.34, 0.7, 1, 1);
}

@mixin button-style() {
    text-align: center;
    background: none;
    border: 2px solid #30c5ff;
    border-radius: 2rem;
    font: inherit;
    line-height: 1;
    margin: 0.25em;
    padding: 0.5em 1em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}
