$blackout: #292929;
$breakpoint-desktop: 1280px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 320px;

$color-white: #ffff;
$color-primary: #F1CDB3;
$color-dark-1: #545454;
$color-dark-3x1: #292929;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
